/* body{
    background-color: blanchedalmond;
} */

.Posts{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    
}
.PostList{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-bottom: 20px;
    width: 50vw;
}

#title{
    font-weight: bold;
}
