.navBar {
    grid-row: 1/2;
    grid-column: 1/13;
    background-color: skyblue;
    /* height: 15vh; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
button {
    /* height: 35%; */
    margin-right: 1%;
}