.NavBar {
    background-color: skyblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* height: 6%; */
    grid-area: Nav;
}

.NavBar button {
    margin: 4px;
    height: 25px;
}

