
.userProf {
    display: flex;
    border: 2px solid black;
    height: 250px;
    margin: 35px;
}

.userProf img {
    height: 200px
}

.userProf section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 15px;
}