#contact {
  width: 35%;
  justify-content: space-around;
  padding: 20px 20px 10px 20px;
}

.image{
  
  background-image: gray;
}
.user{
  border-color: gray;
  display: flex;
}

img{
  flex: left;
  width: 130px;
  height: 150px;
  background-color: gray;
  align-items: center;
}
.userInfo{
  flex: right;
  padding-left: 20px;
    text-align: left

}
h4{
  padding-left: 10px;
}
p{
  padding-left: 15px;
}