/*
Joseph P. Pasaoa
Contacts CSS | React Introduction Lab
*/


div#comp-contacts {
  grid-row: span 2;

  height: auto;
}

div#contacts {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;

  height: 100%;

  text-align: center;
}

div#all-contacts {
  height: 100%;

  /* padding-bottom: 16px; */

  overflow-y: scroll;
}