.Contacts{
    display: grid;
    grid: 1fr;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    width: 400px;
    height: auto;
    grid-area: 2/2/4/2;
  }