.contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid black;
  width: 35vw;
  align-items: center;
  justify-content: center;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 700px;
  padding-bottom: 10px;
}

.contacts > .profileInfo {
  border: 1px solid black;
}
