div {
    list-style-type: none;
    background-color: lightblue;
    display: flex;
    justify-content: flex-end;
}

button {
    margin: 10px;
    padding: 3px;
    font-size: 10px;
    background-color: white;
    border: 1px lightgray solid;

}