.nav{
    margin: 0px;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 10px;
    margin-bottom: 40px;
}

button{
    margin-right: 10px;
}