.Posts{
    display: grid;
    justify-content: center;
    border: 1px solid black;
    gap: 5px;
    text-align: center;
    width: 950px;
    margin: 10px;
    padding: 20px;
    grid-area: 3/1/4/2
}