.Posts {
    border: 1px solid black;
    text-align: center;
    margin: 25px;
    grid-column: 1/8;
    grid-row: 5/11;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
}

