.profileInfo {
  width: 150px;
  height: 90px;
  display: flex;
  gap: 12px;
}
.userProfile {
  border: 1px solid black;
  height: 200px;
  width: 700px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.info {
  width: 500px;
}

img {
  width: 80%;
}
