.navbar{
    background-color: lightblue;
    display: flex;
    justify-items: right;
    padding: 10px;
    /* margin: 10px; */
   
}

button{
    justify-items: right;
    /* //padding: 10px; */
    margin: 10px;
}