.post {
   border: 1px solid black;
   margin-bottom: 10px;
   width: 75%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-right: 13%;
   margin-left: 13%;
 }

 h1 {
   text-align: center;
 }