.App{
  display: grid;
  grid-template-columns: 70% 30%;
}

#navbar{
  width: 100vw;
}

#userProfile{
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

#posts{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top:150px;
}
#contacts{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}