body {
  font-family: sans-serif;
  margin: 0;
}

.NavBar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: cornflowerblue;
  height: 60px;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}
