/*
Joseph P. Pasaoa
App CSS | React Introduction Lab
*/


/* CSS RESET
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* FONT INITS */
@font-face {
  font-family: 'Lato';
  src: url('../Assets/Fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 


/* MAIN STYLE */
html, body, div#base-grid {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
	font-size: 0.9em;
}

div#base-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 56px 1fr 2fr;
  grid-area: 0px;
}

div.comp-container {
  padding: 28px;
}

div.comp {
  border: solid 1px #000;
  height: auto;
}

h2 {
  font-weight: bold;
  font-size: 1.4em;
  padding: 12px 12px 20px 12px;
}

div.profcard {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

div.profcard div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  padding: 14px 12px;

  font-size: 0.8em;
}

div.profcard h3 {
  font-weight: bold;
  font-size: 1.3em;
}

div.profcard strong {
  font-weight: bold;
  font-size: 0.9em;
}

div.profcard em {
  font-size: 0.9em;
}

img.avatar {
  width: 130px;
  height: 130px;
}