.Profile{  
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    margin: 20px;
    

}

.ProfileList{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name{
    font-weight: bold;
}